In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("Data1.csv")

In [6]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold    high   strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [11]:
concept = np.array(data)[:,:-1]

In [12]:
concept

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high ', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [14]:
target = np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [18]:
def train(con, tar): 
    for i,val in enumerate(tar):
        if val =='yes':
            specific_h=con[i].copy()
            break
    for i, val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] !=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [19]:
print(train(concept,target))

['sunny' 'warm' '?' 'strong' '?' '?']